body {

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("/images/ignasi_pattern_s.png");
}

a {
    /*color: #00B7FF;*/
}

#content {
    overflow: auto;
    /*width: 1024px;*/
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    box-shadow: 0 0 3px #bbbbbb;
}

.chat-room {
    overflow: auto;
}

.is-writing {
    overflow: auto;
    font-size: 11px;
    color: limegreen;
    padding-left: 8px;
}